
[alias]
    l = "!source ~/.githelpers && pretty_git_log"
    la = "!git l --all"
    r = "!git l -30"
    ra = "!git r --all"
    st = "!git status"
[user]
	name = Michael Lemley
	email = mlemleyap@gmail.com
